<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="row-header">
        <ul>
            <li><a href="">Host</a></li>
            <li><a href="">Đăng ký</a></li>
            <li><a href="">Đăng nhập</a></li>
        </ul>
        <div class="country-box">
            <span class="span-img-vn"><img src="image/vn.png" alt=""></span> 
            <span class="span-vnd">VNĐ</span>
            <i class="fas fa-angle-down"></i>
            <div class="country-box-small">
                <div class="box-small-left">
                   <a class="a-hover" href="" class="language-avn"> <img class="img-vn" src="image/vn.png" alt=""><span class="span-vn">Tiếng Việt</span></a>
                   <a class="a-hover" href="" class="language-avn"> <img class="img-vn" src="image/el.png" alt=""><span class="span-vn">Englisg</span></a>
                   <a class="a-hover" href="" class="language-avn"> <img class="img-vn" src="image/HQ.jpg" alt=""><span class="span-vn">Korea</span></a>
                </div>
                <div class="box-small-right">
                    <a class="a-hover" href="" ><b class="b-dv">VNĐ</b> <span class="span-dv">Việt Nam Đồng</span></a>
                    <a class="a-hover" href=""><b class="b-dv">USD</b> <span class="span-dv">Unitel states Dollar</span></a>
                </div>
            </div>
        </div>
    </div>

    <!-- box home -->   
    <div class="row-banner">
        <h1 class="banner-title-h1">Đăng ký thành viên Luxstay - Tích điểm thưởng và nhận ưu đãi</h1>
        <p class="banner-title-p">Nhanh chóng, tiện lợi và an toàn. Đăng ký liền tay, rinh ngay quyền lợi.</p>
    </div>

    <div class="row-home1">
        <div class="home-left1">
            <!-- box 1 -->
            <div class="home-box1">
                <img src="image/1.png" alt="">
                <h3 class="home-title-h3">Tích điểm nhanh chóng</h3>
                <p class="home-title-p">Tích điểm đối với mỗi lượt đặt chỗ thành công. Quy đổi thành Lux Credit để du lịch nhiều hơn nữa.</p>
            </div>

            <!-- box 2 -->
            <div class="home-box2">
                <img src="image/2.png" alt="">
                <h3 class="home-title-h3">Tiện ích thông minh</h3>
                <p class="home-title-p">Check-in và kiểm tra hóa đơn thanh toán kể cả khi không có kết nối mạng. Hoàn tiền nhanh gọn. Đổi lịch dễ dàng.</p>
            </div>

            <!-- box 3 -->
            <div class="home-box3">
                <img src="image/3.png" alt="">
                <h3 class="home-title-h3">Thanh toán đơn giản</h3>
                <p class="home-title-p">Phương thức thanh toán tiện lợi, an toàn. Tích hợp chức năng lưu thẻ để đặt phòng lần sau.</p>
            </div>

            <!-- box 4 -->
            <div class="home-box4">
                <img src="image/4.png" alt="">
                <h3 class="home-title-h3">Ưu đãi mỗi ngày</h3>
                <p class="home-title-p">Nhận thông báo ưu đãi từ Luxstay khi có kế hoạch du lịch để lựa chọn và đặt ngay cho mình một chỗ ở phù hợp, tiện nghi với giá tốt nhất.</p>
            </div>

        </div>

        <!-- ĐĂNG KÍ -->
        <div class="home-right1">
            <div class="account1">
                <h3 class="account-title-h3">Đăng Kí thành viên</h3>
                <label class="account-title-label">Địa chỉ email</label>

                <!-- input email -->
                <input type="text" class="account-input-email1" placeholder="Địa chỉ email" >
                <i class="far fa-envelope-square"></i> 

                <!-- số điện thoại -->
                <label class="account-title-label">Số điện thoại</label>
                <div class="account-sdt">
                    <div class="contact-sdt">
                        <img src="image/vn.png" alt="">
                        <span class="contact-sdt-span">+84</span>
                    </div>
                    <input type="text" class="account-input-sdt" placeholder="Số điện thoại" >
                </div>

                <!-- tên -->
                <label class="account-title-label">Tên</label>
                <input type="text" class="account-input-email1" >

                 <!-- tên và họ đệm -->
                <label class="account-title-label">Tên và họ đệm</label>
                <input type="text" class="account-input-email1" >

                 <!-- mật khẩu -->
                <label class="account-title-label">Mật khẩu <span>( Tối thiểu 8 kí tự)</span></label>
                <input type="text" class="account-input-email1" placeholder="Mật khẩu" >
                <i class="far fa-envelope-square"></i> 

                 <!-- xác nhận mk mới -->
                <label class="account-title-label">Xác nhận mật khẩu mới</label>
                <input type="text" class="account-input-email1" >
                <i class="far fa-envelope-square"></i>
                
                 <!-- button đăng kí -->
                <button class="account-button-login">Đăng kí</button>
                <p class="account-title-p1">Bạn đã có tài khoản Luxstay? <a href="">Đăng nhập</a></p>
                <p class="account-title-p5">Bạn đã đồng ý <a href="">Bảo mật</a> và <a href="">Điều khoản hoạt động</a> của <br> Luxstay</p>
                <p class="account-title-p3">Hoặc</p>
                <!--  facebook -->
               
                <div class="account-body">
                    <div class="account-face">
                        <span>Đăng nhập bằng Facebook</span>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="account-google">
                        <span>Đăng nhập bằng Google</span>
                        <i class="fab fa-google"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="footer">
        <p class="footer-p">© 2020 Luxstay. Bản quyền thuộc về Công ty TNHH Luxstay Việt Nam. Mọi hành vi sao chép đều là phạm pháp nếu không có sự cho phép bằng văn bản của chúng tôi. </p>
    </div>
</body>
</html>